@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Raleway:wght@300&display=swap");
html,
body {
  margin: 0;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

.container {
  height: 100vh !important;
  width: 100vw !important;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: black;
}
